html {
    font-family: font(primary);
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

p, a {
    margin-bottom: 10px;
}

h1 {
    @include font-style(36, color(primary));
}

h2 {
    @include font-style(24, color(primary));
    text-transform: uppercase;
}

h3 {
    @include font-style(21, color(primary));
}

h4 {
    @include font-style(16, color(secondary));
}

.btn {
    @include button();
}